<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Deposit edit</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<table>
    <caption><h3>Deposit edit</h3></caption>
    <tr>
        <div th:insert="~{deposit :: deposit_thead_fragment}"></div>
    </tr>

    <form action="#" th:action="@{/deposit}" th:object="${deposit}" method="post">
        <tr>

            <input type="hidden" th:field="*{id}"/>
            <th th:text="${(deposit.getId()!=0) ? deposit.getId() : ''}"></th>
            <th><input type="text" th:field="*{name}" size=""/></th>
            <th><input type="text" th:field="*{money}" size=""/></th>

            <th><input type="submit" value="Save"/></th>
            <th><input type="reset" value="Cancel"/></th>

        </tr>
    </form>

</table>

</body>
</html>